/* root for variables  */
:root {
    --background-color: #e9ecef;
    --border-color: #ccd5ae;
    --text-color: #33272a;
    --dark-mode: rgb(23, 26, 35)
}

/* universal styling */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* adjustments to body styling */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 6px solid;
    border-image-source: linear-gradient(90deg, #588157, #d3e1a6);
    border-image-slice: 2;
    width: 100%;
}

/* when active, body's background changes to var dark and text changes to white */
body.active {
    background: var(--dark-mode);
    color: #e9ecef;
}

/* adjustments to header and styling */
header {
    margin: 0;
    padding: 20px;
    background-color: var(--border-color);
    text-align: center;
    color: var(--text-color);
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.08),
    0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

/* When active, header's background cahnges to dark color and text changes to white */
header.active {
    background-color: #283618;
    color: var(--background-color);
}

/* header h1 adjustments and styling */
header h1 {
    color: var(--text-color);
    font-size: 35px;
    margin: .5rem;
}


/* navbar flex properties and alignment  */
nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* navbar attributes, styling, adjustments */
nav a {
    color: var(--text-color);
    padding: 1rem;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


/* navbar underline when hovering over links */
nav a:hover {
    border-bottom: 2px solid var(--text-color);
    top: 10px;
}

/* text not changing to white when going into dark mode */
a.active {
    color: var(--background-color);
}

/* This is styling the navbar links when they are active. */
nav a.hover.active {
    border-bottom: 2px solid blue;
    top: 10px;
}

/* toggle background positioning, styling, adjustments */
#toggle {
   position: relative;
   margin-left: auto;
   display: block;
   width: 57px;
   height: 34px;
   border-radius: 160px;
   background: #33272a;
   transition: 0.5s;
   cursor: pointer;
   box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
               inset 0 8px 60px rgba(0, 0, 0, 0.1),
               inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

/* toggle button  positioning, styling, adjustments */
#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: linear-gradient(to bottom, rgb(140, 128, 128), #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow:rgba(0, 0, 0, 0.5),
               inset 0 8px 60px rgba(0, 0, 0, 0.1),
               inset 0 8px 8px rgba(0, 0, 0, 0.1),
               inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

/* toggle indicator moves to to the right when active */
#toggle.active .indicator {
    left: 24px;
}

/* flex properties for main  */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
} 

/* removes text decoration from figcaptions */
main a {
    text-decoration: none;
}

h1.active {
    color: white;
}

/* h2 styling */
h2 {
    font-size: 35px;
    text-align: center;
    padding: 12px;
}

/* h3 styling */
h3 {
    font-size: 20px;
    padding: 2px;
}

/* h4 styling */
h4 {
    font-size: 35px;
    text-align: center;
}
/* h5 styling */
h5 {
    font-size: 25px;
    text-align: center;
}

/* about me section styling and adjustments */
.about-me {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: -5px 6px 9px rgba(0, 0, 0, 0.3);
    margin: 30px 5px 115px 5px;
}

/* about me picture styling and adjustments */
#pic {
    display: block;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 8px dotted var(--border-color);
    border-radius: 50%;
}

/* about me bio adjustments */
#bio {
    padding: 5px;
    margin: 10px;
}

/* bootcamp outer activities styling and adjustments */
#activities {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 1rem;
    margin: 20px;
    margin: 30px 5px 115px 5px;
    width: 100%;
}

/* styling for text on bootcamp activites */
#current {
text-align: center;
font-size: 35px;
}

/* article styling and adjustments  */
article {
    border: 2px solid #a6d3a6;
    border-radius: 10px;
    padding: 2rem;
    margin: 20px;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.3);
    margin: 30px 5px 20px 5px;
}

p {
    font-size: 18px;
    /* font-family: Arial; */
}

/* projects outer styling and adjustments */
#projects {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 12px;
    margin: 30px 0px 115px 0px;
    width: 100%;
}

/* work flex properties and adjustments */
.work {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 30px -5px 115px -5px;
    justify-content: space-evenly;
    width: 100%;
}


/* img flex properties and adjustments */
.imglinks {
    display: flex;
    height: 220px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 21px;
    transition: all 0.5s ease-in-out;
    opacity: .90;
}

.mainProject {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

#mainProjectLinks {
    display: flex;
    height: 220px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 21px;
    transition: all 0.5s ease-in-out;
    opacity: .90;
}

#mainProjectFig {
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    height: 35px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--background-color);
    border-radius: 0 0 1rem 1rem;
    text-decoration: none;
    top: -36px;
}

#ProjectP {
    text-align: center;
    padding: 10px 30px;
    width: 100%;
}

/* limglinks styling when hovering over */
.imglinks:hover {
    box-shadow: inset 0px 0px 8px
    rgb(6, 7, 7),
    0 0 20px
    rgb(9, 11, 10)
}

#mainProjectLinks:hover {
    box-shadow: inset 0px 0px 8px
    rgb(6, 7, 6),
    0 0 15px
    rgb(9, 11, 10)
}

/* figcaption positioning, styling, and adjustments */
figcaption {
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    height: 35px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--background-color);
    border-radius: 0 0 1rem 1rem;
    text-decoration: none;
    top: -35px;
}

/* footer styling, positioning */
footer {
    margin: 0;
    padding: 20px;
    background-color: var(--border-color);
    text-align: center;
    color: var(--text-color);
    flex-wrap: wrap;
    width: 100%;
}

/* footer unorder list adjustments */
footer ul {
    display: flex;
    margin: 5px;
    padding: 10px;
    justify-content: space-evenly;
}

/* when active, footer background color and text color change to white */
footer.active {
    background-color: #283618;
    color: #e9ecef;
}

/* footer image icons adjustments */
.icons {
    height: 40px;
    width: 40px;
}

/* media queries for when going to smaller screen sizes convert to columns */
@media screen and (max-width: 768px) {
main,
nav {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    #mainProjectLinks {
        display: flex;
        height: 400px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 21px;
        transition: all 0.5s ease-in-out;
        opacity: .90;
    }
}

